.content-container {
    display: flex;
    padding: 20px 20px;
}

.movie-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 10px 18px -30px 18px;
}

.movie-item .movie-img:hover {
    border: 2px solid #1caf9a;
}

.movie-item .movie-name {
    position: relative;
    line-height: 30px;
    top: -30px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
}

.movie-item .movie-img {
    height: 165px;
    width: 120px;
    cursor: pointer;
}

.statistic-item {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.movie-contianer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 850px;
    justify-content: space-between;
}

.statistic-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 850px;
    justify-content: space-between;
    margin-left: 40px;
}

.movie-contianer ul {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.statistic-container ul {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 10px 20px;
}