.filler-container {
    padding: 10px;
}
.filler-item {
    display: flex;
}

.filler-item a {
    margin: 0 15px;
    color: #666;
    padding: 5px;
    text-decoration: none;
}

.filler-item .active {
    border-radius: 5px;
    background: #1caf9a;
    color: #fff;
}

.to-buy-btn {
    margin-left: auto;
}