<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.sales.RefundMapper">

    <insert id="insertRefund" parameterType="com.example.cinema.po.Refund"
            useGeneratedKeys="true" keyProperty="id">
        insert into refund(id,time,persent)
        values(#{id},#{time}, #{persent})
    </insert>

    <update id="updateRefund">
        update refund set time = #{time},persent = #{persent} where id=#{refundId}
    </update>

    <select id="getRefund" resultMap="Refund">
        select * from refund where id=#{refundId}
    </select>

    <resultMap id="Refund" type="com.example.cinema.po.Refund">
        <result column="id" property="id"></result>
        <result column="time" property="time"></result>
        <result column="persent" property="persent"></result>
    </resultMap>

</mapper>