<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>影院管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cinemaHall.css"/>



    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminCinemaManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation" class="active"><a href="#"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/refund/manage"><i class="icon-cogs"></i> 退票管理</a></li>
            <li role="presentation"><a href="/admin/vipStrategy/manage"><i class="icon-cogs"></i> 会员策略</a></li>
            <li role="presentation"><a href="/admin/vipCoupon"><i class="icon-gift"></i> 会员赠券</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-item">
            <span class="title gray-text">常规设置</span>
            <div class="content-card card">
                <span class="">用户可见排片日期：</span><span id="can-see-num"></span>
                <a style="margin-left: 20px;" class="primary-text" id="canview-modify-btn">修改</a>
                <input type="number" class="form-control" id="canview-set-input" style="display: none;width: 200px;">
                <a style="display: none" class="primary-text" id="canview-confirm-btn">确认</a>
            </div>
        </div>
        <div class="content-item">
            <span class="title gray-text">影厅管理</span>
            <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#hallModal"><i class="icon-plus-sign"></i>新增影厅</button>
            <div class="content-card card" id="hall-card">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="hallModal" tabindex="-1" role="dialog" aria-labelledby="hallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="hallModalLabel">新增影厅</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-name-input"><span class="error-text">*</span>影厅名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hall-name-input" placeholder="请输入影厅名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-column-input"><span class="error-text">*</span>影厅座数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="hall-column-input" placeholder="请输入影厅每排座位数">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-row-input"><span class="error-text">*</span>影厅排数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="hall-row-input" placeholder="请输入影厅排数">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-type-input"><span class="error-text">*</span>影厅种类</label>
                        <div class="col-sm-10">
                            <select id="hall-type-input" class="form-control">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="hall-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="hallEditModal" tabindex="-1" role="dialog" aria-labelledby="hallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改影厅</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-edit-name-input"><span class="error-text">*</span>影厅名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hall-edit-name-input" placeholder="请输入影厅名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-edit-column-input"><span class="error-text">*</span>影厅座数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="hall-edit-column-input" placeholder="请输入影厅每排座位数">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-edit-row-input"><span class="error-text">*</span>影厅排数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="hall-edit-row-input" placeholder="请输入影厅排数">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-edit-type-input"><span class="error-text">*</span>影厅种类</label>
                        <div class="col-sm-10">
                            <select id="hall-edit-type-input" class="form-control">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="hall-edit-remove-btn">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="hall-edit-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>