<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购票</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userBuy.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userBuy.js"></script>

</head>
<body>
<div class="nav-top-container">
    <div class="nav-logo title">NJU-Se电影购票系统</div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/user/home">首页</a></li>
        <li role="presentation"><a href="/user/movie">电影</a></li>
    </ul>
    <div class="btn-group">
        <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
            <span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">电影票</a></li>
            <li><a href="/user/consumeHistory">消费纪录</a></li>
            <li><a href="/user/member">卡包</a></li>
            <li id="logout"><a href="#">登出</a></li>
        </ul>
    </div>
</div>
<div class="content-container">
    <div class="card col-md-8 col-md-offset-2">
        <div class="header">
            <div class="title">我的电影票</div>
        </div>
        <div class="table-wrapper">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th nowrap="nowrap">电影名称</th>
                    <th nowrap="nowrap">影厅名</th>
                    <th nowrap="nowrap">座位</th>
                    <th nowrap="nowrap">放映时间</th>
                    <th nowrap="nowrap">预计结束时间</th>
                    <th nowrap="nowrap">状态</th>
                    <th nowrap="nowrap">操作</th>
                </tr>
                </thead>
                <tbody id="ticket-body">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>