<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userHome.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userHome.js"></script>

</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">NJU-Se电影购票系统</div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
        </ul>
        <div class="btn-group">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                <span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/user/buy">电影票</a></li>
                <li><a href="/user/consumeHistory">消费纪录</a></li>
                <li><a href="/user/member">卡包</a></li>
                <li id="logout"><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
    <div class="content-container">
        <div class="movie-contianer">
            <div id="flash" class="adiv">
                <div id="prev" class="adiv"></div>
                <div id="next" class="adiv"></div>
                <ul id="play">
                    <li style="display: block;" class="ali"><a id="aofimg1" href=""><img src="" alt="" id="img1"/></a></li>
                    <li class="ali"><a id="aofimg2" href=""><img src="/images/aa.jpg" alt="" id="img2"/></a></li>
                    <li class="ali"><a id="aofimg3" href=""><img src="/images/bb.jpg" alt="" id="img3"/></a></li>
                    <li class="ali"><a id="aofimg4" href=""><img src="/images/cc.jpg" alt="" id="img4"/></a></li>
                    <li class="ali"><a id="aofimg5" href=""><img src="/images/dd.jpg" alt="" id="img5"/></a></li>
                    <li class="ali"><a id="aofimg6" href=""><img src="/images/ee.jpg" alt="" id="img6"/></a></li>
                </ul>
                <ul id="button">
                    <li class="ali"><div style="background: #A10000;" class="adiv"></div></li>
                    <li class="ali"><div class="adiv"></div></li>
                    <li class="ali"><div class="adiv"></div></li>
                    <li class="ali"><div class="adiv"></div></li>
                    <li class="ali"><div class="adiv"></div></li>
                    <li class="ali"><div class="adiv"></div></li>

                </ul>
            </div>
        </div>
        <div class="statistic-container">
            <p class="title primary-text">票房统计</p>
            <ul class="top-sell-list card">
                <div class="statistic-item">
                    <span>电影1</span>
                    <span class="error-text">99</span>
                </div>
                <div class="statistic-item">
                    <span>电影1</span>
                    <span class="error-text">99</span>
                </div>
                <div class="statistic-item">
                    <span>电影1</span>
                    <span class="error-text">99</span>
                </div>
            </ul>
            <p class="title primary-text">全站神豪</p>
            <ul class="top-expectation-list card">

            </ul>
        </div>
    </div>
</body>
</html>